.search__form {
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	position: relative;
	
	button {
		all: unset;
		position: absolute;
		right: calc(5% + 18px);
		font-size: 18px;
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
		cursor: pointer;
	}
}