video {
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
}

#videoContainer {
	position: relative;
	
	button {
		all: unset;
		padding: 10px;
		cursor: pointer;
	}
	
	#videoControls {
		position: absolute;
		background-color: rgba($color: #000, $alpha: 0.6);
		border-radius: 5px;
		width: calc(100% - 50px);
		height: 40px;
		margin: 0 25px;
		top: calc(100% - 40px - 10px);
		display: flex;
		align-items: center;
		opacity: 0;
		transition: opacity 0.5s;
		&.showing {
			opacity: 1;
		}
		
		.timelineZone {
			padding: 0 5px;
		};
		
		#volume {
			width: 100px;
		}
		#timeline {
			flex: 1;
		}
	}
	
}

.video__meta {
	margin: 10px 20px;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 400;
	
	button {
		all: unset;
		margin-left: 10px;
		cursor: pointer;
		opacity: 0.5;
		
		&:hover {
			opacity: 1;
		}
	}
	
	.video__title {
		font-size: 24px;
		margin: 15px 0;
	}
	
	.video__info {
		color: rgba(#fff, 0.5);
		margin-bottom: 15px;
	}
	
	.video__avatar-container {
		display: flex;
		align-items: center;
	}
	
	.video__avatar {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}
	
	.video__avatar-none {
		font-size: 50px;
	}
	
	.video__owner {
		margin-left: 10px;
		font-weight: bold;
		flex: 1;
	}
	
	.video__details {
		margin-top: 10px;
		margin-left: 60px;
		
		.video__description {
			margin-bottom: 10px;
		}
		
		.video__tag {
			font-size: 12px;
			color: $blue;
			opacity: 0.7
		}
	}
}

.video__comment-form {
	max-width: 420px;
	margin: 0 auto;
}

.video__comments {
	display: flex;
	flex-direction: column;
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	button {
		all: unset;
		cursor: pointer;
	}
	
	.video__comment {
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 999px;
		background-color: white;
		color: black;
		display: flex;
		justify-content: space-between;
		&.new {
			animation-name: showup;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
		&.delete {
			animation-name: showup;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-direction: reverse;
			animation-timing-function: ease-in;
		}
	}
	.video__comment-x {
		margin-right: 5px;
	}
	
}

@keyframes showup {
	from {
		opacity: 0;
		transform: scale(1.1);
	}
	to {
		opacity: 1;
		transform: scale(1)
	}
}

