form:not(.no-style) {
	max-width: 420px;
	margin: 0 auto;
	padding: 30px;
	background-color: rgba($color: #000000, $alpha: 0.3);
	border-radius: 10px;
	border: 1px solid rgba($color: #fff, $alpha: 0.2);
	
	label {
		font-size: 14px;
		margin-bottom: 5px;
	}
}

input:not(.video-controls):not([type="radio"]):not([type="submit"]){
	all: unset;
	padding: 15px 20px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: black;
	margin-bottom: 5px;
	font-size: 16px;
	color: white;
	width: 90%;
	&::placeholder{
		color: rgba(255,255,255,0.7);
	}
}

input[type="submit"],
.social__btn {
	all: unset;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 5px;
	font-size: 16px;
	width: 90%;
	
	border-radius: 5px;
	padding: 12px 20px;
	background-color: rgba($color: #fff, $alpha: 0.9);
	color: rgba($color: $red, $alpha: 1);
	text-align: center;
	cursor: pointer;
	display: block;
}