.empty__message {
	padding: 50px;
	margin-bottom: 50px;
	font-size: 18px;
	text-align: center;
	i {
		padding: 10px;
	}
}

.video-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

.auth-switch {
	text-align: center;
	margin-top: 20px;
	a {
		text-decoration: underline;
		font-weight: bold;
	}
	
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

@keyframes fadein {
	from {
		transform: translateY(-60px);
		opacity: 0;
		
	}
	to {
		transform: none;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		transform: none;
		opacity: 1;
	}
	to {
		transform: translateY(-60px);
		opacity: 0;
	}
}

.message {
	max-width: 420px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	
	&.fade {
		position: fixed;
		top: 30px;
		left: 0;
		right: 0;
		z-index: 10;
		animation-name: fadein, fadeout;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-delay: 0s, 3s;
		animation-fill-mode: forwards;
	}

	
	&.error {
		background-color: $red;
	}
	&.info {
		background-color: $blue;
	}
	&.success {
		background-color: $green;
	}
	
	.message__icon {
		margin-right: 10px;
	}
}