.empty__message {
	padding: 50px;
	margin-bottom: 50px;
	font-size: 18px;
	text-align: center;
	i {
		padding: 10px;
	}
}

.video-grid {
	display: grid;
	gap: 50px;;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
	text-align: center;
	margin-top: 20px;
	a {
		text-decoration: underline;
		font-weight: bold;
	}
	
}

.avatar {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

.error__message {
	max-width: 420px;
	margin: 0 auto;
	padding: 20px;
	background-color: $red;
	border-radius: 5px;
	margin-bottom: 10px;
	.error__icon {
		margin-right: 10px;
	}
}