doctype html
html(lang="ko")
	head
		title #{pageTitle} | #{siteName}
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
		link(rel="stylesheet" href="/static/css/styles.css")
	body
		include partials/header
		main
			if errorMessage
				div.error__message
					i.fas.fa-triangle-exclamation.error__icon
					| #{errorMessage}
			block content
		include partials/footer
	block scripts
	
//-https://evan-moon.github.io/2020/05/21/about-cors/