extends base

block content
	form(method="POST")
		label Current Password
			input(placeholder="Old Password", type="password", name="oldPassword")
		label New Password
			input(placeholder="New Password", type="password", name="newPassword")
		label New Password Confirm
			input(placeholder="New Password Confirmation", type="password", name="newPassword2")
		input(value="Change Password", type="submit")
		