extends base.pug

block content
	form(method="POST")
		label Title
			input(name="title",placeholder="Video Title",required,value=video.title,autofocus)
		label Description
			input(name="description",placeholder="Description", required, type="text", value=video.description)
		label Hashtags
			input(name="hashtags",placeholder="Hashtags, seperated by comma.", require value=video.hashtags.join())
		input(value="Save",type="submit")