extends base

block content
	form(method="POST")
		label Name
			input(name="name", type="text", required, placeholder="Name")
		label Email
			input(name="email", type="email", required, placeholder="Email")
		label User ID
			input(name="username", type="text", required, placeholder="Username")
		label Password
			input(name="password", type="password", required, placeholder="Password")
		label Password Confirm
			input(name="password2", type="password", required, placeholder="Confirm Password")
		label location
			input(name="location", type="text", required, placeholder="Location")
		input(type="submit", value="Join")
	hr
	div
		span Already have an account? 
		a(href="/login") Log in now &rarr;