extends base
include mixins/video

block content
	form(method="GET").search__form
		input(placeholder="Search by Title", name="keyword", type="text", autofocus)
		button 
			i.fas.fa-search
	
	each item in videos
		div.video-grid
			+video(item)
	else
		div.empty__message  
			i.fas.fa-triangle-exclamation 
			| No video found.