header
	div.header__logo
		a(href="/")
			i.fab.fa-youtube
	nav
		ul
			li
				a(href="/search")
					i.fas.fa-search
			if loggedIn
				li
					a(href="/videos/upload") Upload
				li
					a(href="/users/edit") Edit Profile
				li
					a(href="/logout") Log out
				li
					a(href=`/users/${loggedInUser._id}`) 
						if loggedInUser.avatarUrl
							img.header__avatar(src=`${loggedInUser.socialOnly?"":"/"}`+loggedInUser.avatarUrl)
						else
							div.header__no-avatar
								i.fas.fa-user
			else
				li
					a(href="/login") Login
				li
					a(href="/join").header__btn Join
//-h1=pageTitle